@import url('https://fonts.googleapis.com/css?family=Lato:100i,300,400,700,900');


@font-face {
  font-family: "brandon-grotesque";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.typekit.net/af/a7d2be/0000000000000000000132e1/27/l?subset_id=2&fvd=n5") format("woff2");
}

@font-face {
  font-family: "brandon-grotesque-reg";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.typekit.net/af/87035b/0000000000000000000132df/27/l?subset_id=2&fvd=n4") format("woff2");
}
button:focus{
	background-color:none ;
}


.brand-logo:hover {
	color: white;
	text-decoration: none;
}

.brand-logo:focus {
	color: white;
	text-decoration: none;
}


.data-not{
	padding:2em;
	font-size:18px;
	font-family: Lato;
	text-transform:uppercase;
	letter-spacing:0.2em;
	font-weight:700;
	color:darkcyan;
}

@media screen, print{

	.logo-img{
	margin-top: 1em !important;
}

nav, footer{
  text-align: center;
      background-color: #1A237E !important;
}

#submenu{
  	font-family: "brandon-grotesque";
    background-color: #283593 !important;
    text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.2em;

}

.sub-nav{
  background-color: #283593 !important;
}

.sub-title{
  font-family: Lato !important;
      font-weight: 500;
      font-size: 1.5em !important;
      letter-spacing: 0.3em;
}

.main-title{
	font-family: Lato !important;
	font-size: 1em !important;
	font-weight: bolder;
	letter-spacing: 0.5em;
	width: 47em;
}
.footer-title{
  font-family: Lato !important;
font-size: 0.7em !important;

letter-spacing: 0.2em !important;
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    height: 50px;
    line-height: 0px !important;
    color: rgba(255,255,255,0.8);
    background-color: rgba(51,51,51,0.08);
}
.enroll{
  font-size: 2rem !important;
  padding: 0.5em;
}
#title-form{
  font: 500 24px/36px "brandon-grotesque",sans-serif;
  text-transform: uppercase;
    letter-spacing: 0.1em;
}

.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .autocomplete-content {
    margin-left: 3rem;
    margin-right: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
}

.drop-down-school{
  margin-top: 0em;
   align-items: center;
  min-height: 70vh;
   background-image: url(../images/1.jpg);
   background-size: cover;

}

.drop-down-main{
  margin-top:5em;
}

.login-select-item{
  font-family: Roboto;
font-size: 2em !important;
font-weight: 100;
text-transform: capitalize !important;
}
.log-sel-cont{

padding-top: 5em;
}

footer.page-footer {
    margin-top: 0px !important;
    padding-top: 20px !important;

}

.login-sel-cont{
  padding-top: 2em;
}

#wrapper-bar
{


}
#c1
{
width: 10px;vertical-align:bottom;display:inline-block;
}
#b1
{
background-color:#1A237E; height: 40px;
}


.custom-full-row {

}

.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #1A237E;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}

.btn:hover{
  background-color: #0D47A1;
}

.btn-large:hover{
  background-color: #0D47A1;
}
.login-card-title{
  font-size: 1.3em;
margin-left: 1.5em !important;
font-family: Roboto;
font-weight: 800;

letter-spacing: 0.1em;
color: #1A237E;
}
.verticalLine {
    border-left: thick solid #ff0000;
}
.login-box-form{

}

.page-theme{
  font-family: Roboto;
    font-weight: 100;
    font-size: 3em;
    padding-top: 1em;

    text-align: center;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-sub-theme{
  font-family: Lato !important;
      text-transform: uppercase;
      font-weight: 800;
      text-align: center;
      align-content: center;
      letter-spacing: 0.1em;
}

.custom-full-row{
  margin-left: 0em !important;

margin-top: 1em;
}

.custom-container{
  padding-left: 0em !important
}
.welcome-student{
  font-size: 1em;
font-family: Roboto;
font-weight: 400;
padding: 1em;
}
.student-name-welcome{
  font-size: 1.5em;
}
.student-image{
  margin-top: 1em;
}

.email-id-col{
  margin-top: 2em;
}

.welcome-student-col{
  margin-top: 3em;

}

.student-main-image:hover{
  opacity: 0.5;
}

.teacher-input{
        background-color: #1A237E !important;
    color: #fff;
    text-align: center;
    width: 100px !important;
}

.input[type=text]:focus:not([readonly]){
    background-color:black !important;
}

.stud-attribute-text{
        font-family: Roboto;
    font-size: 36px;
    font-weight: 200;
    text-align: center;
    padding-top: 1em;
}

.fbtitle{
  font-size: 2em;
  font-weight: 900;
}


}

.select_school {
	position: relative;
	margin-top: 2.4em;
}

.school_list {
	height: 24em;
}
.single_school:hover {
	text-decoration: none;
}

.single_school {
	width: 40em;
}

.dropdown-button {
	width: 40em;
}
